<footer>
    Access the <a href="https://cdn1.daysofwonder.com/tickettoride/en/img/te_rules_2015_en.pdf">rules of the game</a>
    <p>© inTheMembrane and © "créateur du jeu"</p>
</footer>
</body>

</html>