<%- include('partials/header') %>
<main>
    <h2>Bienvenue sur cette app non-officielle du jeu</h2>
    <h2>Il est temps de jouer !</h2>
    <form method="POST">
        <label for="numPlayers"><%= </label>
        <input type="number" name="numPlayers" placeholder="Entre 1 et 5">
        
        <button type="submit">Lancer le jeu</button>
    </form>
</main>
<%- include('partials/footer') %>   