<%- include('partials/header') %>
<main>
    <h2>Joueur <!-- <% numPlayer %>--> </h2>
    <form method="POST">
        
        <label for="numPlayers">Combien de joueurs</label>
        <input type="number" name="numPlayers" placeholder="Entre 1 et 5">
        
        <button type="submit">Lancer le jeu</button>
    </form>
</main>
<%- include('partials/footer') %>   